<h1>Create Account</h1>

<form method="post" action="Register">
    <p>Username:</p>
    <input type="text" name="Name" />

    <p>Password:</p>
    <input type="password" name="Password" />

    <p>Funds</p>
    <input type="number" name="Funds" />

    <input type="submit" />
</form>